<div id="sidebar"  class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
        <li>
            <a class="active" href="#/dashboard">
                <i class="icon-dashboard"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="sub-menu">
            <a href="javascript:;" >
                <i class="icon-user-md"></i>
                <span>Salud</span>
            </a>
            <ul class="sub">
            <li><a  href="#/casos/salud/list">Listar Casos</a></li>
              <li><a  href="#/casos/salud/add">Agregar Caso</a></li>
            </ul>
        </li>

        <li class="sub-menu">
            <a href="javascript:;" >
                <i class="icon-suitcase"></i>
                <span>Educaci&oacute;n</span>
            </a>
            <ul class="sub">
            <li><a  href="#/casos/educacion/list">Listar Casos</a></li>
              <li><a  href="#/casos/educacion/add">Agregar Caso</a></li>
            </ul>
        </li>

        <li class="sub-menu">
            <a href="javascript:;" >
                <i class="icon-group"></i>
                <span>Casos Sociales</span>
            </a>
            <ul class="sub">
            <li><a  href="#/casos/social/list">Listar Casos</a></li>
              <li><a  href="#/casos/social/add">Agregar Caso</a></li>
            </ul>
        </li>

        <li class="sub-menu">
            <a href="javascript:;" >
                <i class="icon-ellipsis-horizontal"></i>
                <span>Otros</span>
            </a>
            <ul class="sub">
            <li><a  href="#/casos/otros/list">Listar Casos</a></li>
              <li><a  href="#/casos/otros/add">Agregar Caso</a></li>
            </ul>
        </li>



    </ul>
    <!-- sidebar menu end-->
</div>